<div class='flex flex-col pt-2'>

  <div class='bg-white p-6 w-64 h-auto rounded-2xl -mt-10 lg:mt-24'>
    <div class='text-mygreen font-bold bg-transparent mb-4'>
      Career Summary
    </div>
    {{#each @data.career as |career|}}
      <div class='text-mygrey text-md bg-transparent'>
        <div class='text-mygrey text-sm bg-transparent'>
          <div class='bg-transparent font-bold text-black mb-1'>
            {{career.headline}}
          </div>
          <div class='mb-2'>
            <div
              data-test-employer-name
              class='bg-white text-black'
            >{{career.employer}}
            </div>
            <div class='bg-white text-black'>{{career.period}}
            </div>
          </div>
          {{#if
            (or
              (eq this.showDetails true)
              (not-eq career.employer 'Accounting d.o.o.')
            )
          }}
            <div class='ml-4 bg-white'>
              <ul class='list-disc mb-4'>
                {{#each career.obligations as |item|}}
                  <li class='bg-white'>{{item}}</li>
                {{/each}}
              </ul>
            </div>
          {{else}}
            <button
              area-label='Toggle details'
              type='button'
              class='inset-x-0'
              {{on 'click' this.showDetailsToggle}}
            ><MdIcon @icon='chevron-down' @size='20' />
            </button>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>