<div
  class='flex flex-row flex-wrap
    {{if this.isDark "bg-[#252525]" "bg-mybackground"}}
    pt-36 space-y-6 space-x-0 sm:space-x-8 justify-center min-h-screen'
>
  <Button @isDark={{this.isDark}} @toggleTheme={{this.toggleTheme}} />
  <Info @data={{this.data.info}} @isDark={{this.isDark}} />
  <Personal @data={{this.data}} />
  <Career @data={{this.data}} />
</div>